
/* section one header */

.nav{
    
    display: flex;
    position: fixed;
    top:0;
    padding: 15px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #96d6d8;
    box-shadow: 0 0 12px #96d6d8;
    
    
}

.container img{
 width: 70px;
 margin-left: 130px;

}

.icon-btn {
    display: flex;
    gap: 10px;
    margin-right: 130px;

}
.icon-btn img{
   
    gap: 1px;
    width: 20px;
    height: 20px;

}
a{
   text-decoration: none;
   color: black;
   padding: 5px;
}

/*
*/


/*section tow*/



/*section tow*/


.hero-container{
     
    width: 90%;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap:40px;
    


    
height: 650px;
    background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
