
/* section one header */

.nav{
    
    display: flex;
    position: fixed;
    top:0;
    padding: 15px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #96d6d8;
    box-shadow: 0 0 12px #96d6d8;
    
    
}

.container img{
 width: 70px;
 margin-left: 130px;

}

.icon-btn {
    display: flex;
    gap: 10px;
    margin-right: 130px;

}
.icon-btn img{
   
    gap: 1px;
    width: 20px;
    height: 20px;

}
a{
   text-decoration: none;
   color: black;
   padding: 5px;
}

/*
*/


/*section tow*/



/*section tow*/


.hero-container{
     
    width: 90%;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap:40px;
    


    
height: 650px;
    background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero-text{
    max-width: 50%;
    flex: 50%;
}

.hero-text h1{
   
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hero-text p{
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 550px;
}

.hero-text button{
    background-color: #25797c;
    border: none;
    padding: 12px 30px;
    margin-top: 40px;
    

}

.hero-text button a{
    color: white;
   
}


.hero-image img{
    width: 600px;
    flex: 50%;
 
    
}
.highlight {
    color: #25797c;
}

/*
*/


/* section 3*/

.section3{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap :90px;
    padding: 60px 100px;
   
   
} 

.section3 > div{

 text-align: center;
 padding: 20px;
 border: 2px solid #96d6d8;
 box-shadow: 0 0 12px #96d6d8; 
 
 
 
 
}

.section3 img{
   
width: 40px;
height: 40px;
color: #25797c ;

}


.parts{
   border: 2px solid #96d6d8;
    box-shadow: 0 0 12px #96d6d8;  
    
}



/*
*/


/* section 4*/
.section4{

    width: 90%;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.section4 h2{
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.section4 button{
     background-color: #25797c;
    border: none;
    padding: 12px 30px;
    margin-top: 30px;
    
    
}

.section4 p{

    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 550px;


}
.section4 button a{
    color: white;
}
.section4 image{
     width: 600px;
    flex: 50%;
  
}

.aboutus{
    max-width: 50%;
    flex: 50%;
    padding-left: 50px;
}

.section4 img{
    width: 600px;
    flex: 50%;
    margin: 20px;
 
    
}
